* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
main {
  width: 100%;
  height: 100%;
  padding: 80px 100px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap:22px;
  font-family: gilroy;
}
.top {
  width: 100%;
  height: 30vh;
  display: flex;
}
.left {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.about {
  max-width: fit-content;
  padding: 6px 12px;
  border: 1px solid #2667ff;
  color: #2667ff;
  font-size: 14px;
  border-radius: 50px;
}
.heading {
  font-size: 66px;
  line-height: 72.6px;
  font-weight: 400;
}
.right {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.right p {
  font-size: 16px;
  line-height: 22.4px;
}
.imageContainer{
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.image1{
    min-width: 58%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
    position: relative;
}
.image2{
    width: 40%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
}
.imageContainer section{
    width: fit-content;
    height: fit-content;
    position: absolute;
    z-index: 100;
    padding-top: 16px ;
    bottom: 5%;
    left: 8%
}
.join{
    padding: 4px 40px ;
    border-radius: 50px;
    font-size: 16px;
    line-height: 24px;

}
.demo{
    padding: 4px 40px ;
    border-radius: 50px;
    font-size: 16px;
    line-height: 24px;
    background: transparent;
    color: white;
    border:1px solid white
}